<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arr</key>
	<array>
		<string>12345hello0hello0hello0</string>
		<string>2345hello01</string>
		<string>345hello012</string>
		<string>45hello0123</string>
		<string>5hello01234</string>
		<string>hello012345</string>
	</array>
	<key>array1</key>
	<array>
		<string>12345678906789067890</string>
		<string>2345678901</string>
		<string>3456789012</string>
		<string>4567890123</string>
		<string>5678901234</string>
		<string>6789012345</string>
	</array>
	<key>array12</key>
	<array>
		<string>12345678906789067890</string>
		<string>2345678901</string>
		<string>3456789012</string>
		<string>4567890123</string>
		<string>5678901234</string>
		<string>6789012345</string>
	</array>
</dict>
</plist>
